<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Posts</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
<h1><a href="/">Blog</a></h1>
{{#year}}
<h2>{{year}}年{{month}}月</h2>
{{/year}}
<div id="main">
  <div id="body">
{{#posts}}
    <article>
      <h2>{{title}}</h2>
      <div class="datetime">{{formatPublished}}</div>
      <div class="body">{{body}}</div>
    </article>
{{/posts}}
{{#pagenation.hasNext}}
    <a href=".?page={{pagenation.next}}">古い記事</a>
{{/pagenation.hasNext}}
{{#pagenation.hasPrev}}
    <a href=".?page={{pagenation.prev}}">新しい記事</a>
{{/pagenation.hasPrev}}
  </div>
  <div id="sidebar">
    <h2>Archives</h2>
    <ul>
{{#groups}}
      <li><a href="/archive/{{year}}/{{month}}/">{{year}}年{{month}}月（{{count}}）</a></li>
{{/groups}}
    </ul>
  </div>
</div>
</body>
</html>